/* Start Global Values */
body {
  margin: 0;
  font-family: "Calibri";
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

@import url(//db.onlinewebfonts.com/c/a78cfad3beb089a6ce86d4e280fa270b?family=Calibri);

@font-face {
  font-family: "Calibri";
  src: url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.eot");
  src: url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.svg#Calibri")
      format("svg");
}

.container {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --main-text-color: #eee;
  --main-dtext-color: #ddd;
  --main-color: #282a35;
  --main-light-color: #fdf5fa;
  --button-bg: #04aa6d;
  --normal-text-color: #f6f6f6;
  --main-transition: 0.3s;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--button-bg);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* End Global Rules */
/* Start Header */
.header {
  background-image: url(images/background.png) fixed no-repeat center;
  background-size: 100% 100vh;
  box-shadow: 1px 1px 10px var(--main-color);
  height: 900px;
}

.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headflex {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headflex img {
  width: 250px;
}

.headflex h1 {
  color: var(--main-text-color);
  font-size: 80px;
  margin: 0;
  padding: 0;
}

.headflex span {
  color: var(--main-dtext-color);
  font-weight: 600;
  opacity: 0.6;
}

.headflex ul {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 400px;
}

.headflex ul li {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.headflex ul li a {
  color: var(--main-text-color);
  padding: 7px 10px;
}

.headflex ul li:first-child a {
  background-color: var(--button-bg);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.headflex ul li a:hover {
  background-color: var(--button-bg);
  transition: var(--main-transition);
  -webkit-transition: background-color var(--main-transition);
  -moz-transition: background-color var(--main-transition);
  -ms-transition: background-color var(--main-transition);
  -o-transition: background-color var(--main-transition);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

@media (max-width: 767px) {
  .headflex img {
    width: 200px;
  }

  .headflex h1 {
    font-size: 60px;
  }
  .headflex ul {
    min-width: auto;
    display: flex;
    justify-content: space-evenly;
    width: 250px;
  }
  .headflex ul li a {
    font-size: 12px;
    padding: 5px;
  }
}
/* End Header */
/* Start Offers */
.offers {
  padding: 75px 0 50px;
}

.offers .container {
  position: relative;
}

.offers .container::before {
  content: "\f11b";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  color: var(--main-color);
  font-weight: 900;
  font-size: 90px;
  transform: rotate(15deg);
  top: -100px;
  right: 15px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  opacity: 0.05;
}

.offers .container::after {
  content: "\f091";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  color: var(--main-color);
  font-weight: 900;
  font-size: 90px;
  transform: rotate(10deg);
  bottom: -200px;
  left: 0;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  opacity: 0.05;
}

.offers .container {
  margin: 100px 0;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
}

.container .offer-head {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 50px;
}

@keyframes angry {
  25% {
    margin-right: 30px;
  }

  50% {
    margin-right: -30px;
  }

  75% {
    margin-right: 30px;
  }

  100% {
    margin-right: 0px;
  }
}

.container .h3 {
  font-size: 80px;
  margin: 0;
  background-image: linear-gradient(var(--main-color), var(--button-bg));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container h3 {
  animation: angry 0.5s alternate;
  -webkit-animation: angry 0.5s alternate;
}

.disable {
  animation: none !important;
  -webkit-animation: none !important;
}

.container .offer-head p {
  font-weight: 600;
  opacity: 0.8;
  font-size: 25px;
  margin: 0;
}

.container .offer-head span {
  opacity: 0.7;
  font-size: 15px;
  font-family: "outfit", sans-serif;
  text-align: center;
  margin: 5px 0 0 0;
}

.container .box {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-bottom: 50px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.container .box .animate::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    45deg,
    #04aa6d 10%,
    transparent 10%,
    transparent 50%,
    #04aa6d 50%,
    #04aa6d 60%,
    transparent 60%,
    transparent 100%
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: 15px 15px;
  z-index: 1;
  width: 100%;
  height: 100%;
  animation: animate 8s infinite linear;
  -webkit-animation: animate 8s infinite linear;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 18px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: top right;
  }
}

.container .box .animate::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 50%;
  left: 50%;
  width: 101%;
  height: 101%;
  z-index: -1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 18px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.bg {
  position: absolute;
  background-color: var(--main-color);
  z-index: 1;
  width: 97%;
  height: 97%;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.bg::before {
  content: "\f7e4";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: var(--button-bg);
  top: 15px;
  right: 15px;
  font-size: 18px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.bg i {
  position: absolute;
  background-image: linear-gradient(var(--button-bg), var(--main-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  top: 15px;
  left: 15px;
  z-index: 4;
}

.bg img {
  width: 275px;
}

.bundle-text h4 {
  color: var(--normal-text-color);
  margin: 0 0 10px;
  font-size: 28px;
  font-weight: 900;
}

.bundle-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bundle-details span {
  color: var(--normal-text-color);
  letter-spacing: 1px;
  font-family: "outfit";
  opacity: 0.5;
}

.bundle-details a {
  color: var(--main-text-color);
  background-color: var(--button-bg);
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.bundle-details a:hover {
  background-color: rgb(4, 170, 109, 0.9);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
/* End Offers */
/* Start Services */
.services {
  padding: 0 0 150px;
}

.services .container {
  position: relative;
}

.services .container::before {
  position: absolute;
  content: "\f559";
  font-family: "Font Awesome 5 Free";
  font-size: 90px;
  font-weight: 900;
  opacity: 0.05;
  bottom: -150px;
  transform: rotate(15deg);
  right: 15px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}

.services .container h3 {
  font-size: 60px;
  text-align: center;
  margin: 0 0 75px 0;
  background-image: linear-gradient(var(--main-color), var(--button-bg));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services .container .services-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.services .container .services-container .service {
  background-color: var(--main-color);
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 300px;
  height: 150px;
  position: relative;
}

.services .container .services-container .service h4 {
  color: var(--normal-text-color);
  text-align: center;
  font-size: 25px;
  margin: 25px 0px 5px;
}

.services .container .services-container .service p {
  text-align: center;
  font-size: 16px;
  color: var(--main-dtext-color);
  font-family: "outfit";
}

.services .container .services-container .service:first-child::before {
  content: "\f017";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 50px;
  border-radius: 100%;
  top: -7px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--normal-text-color);
  background-color: var(--button-bg);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  outline: 3px #fff solid;
}

.services .container .services-container .service:nth-child(2):before {
  content: "\f00c";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 50px;
  border-radius: 100%;
  top: -7px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--normal-text-color);
  background-color: var(--button-bg);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  outline: 3px #fff solid;
}

.services .container .services-container .service:last-child:before {
  content: "\f02b";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 50px;
  border-radius: 100%;
  top: -7px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--normal-text-color);
  background-color: var(--button-bg);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  outline: 3px #fff solid;
}

@media (max-width: 767px) {
  .services .container .services-container .service {
    margin-bottom: 75px;
  }
}
/* End Services */
/* Start Ranges */
.ranges {
  padding: 0 0 150px;
}

.ranges .container {
  position: relative;
}

.ranges .container::before {
  position: absolute;
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-size: 90px;
  font-weight: 900;
  opacity: 0.05;
  bottom: -150px;
  transform: rotate(-15deg);
  left: 0;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
}

.ranges .container h3 {
  font-size: 60px;
  text-align: center;
  margin: 0 0 75px 0;
  background-image: linear-gradient(var(--main-color), var(--button-bg));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ranges .container .ranges-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.ranges .container .ranges-container .range {
  background-color: var(--main-color);
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 200px;
  height: 105px;
  position: relative;
}

.ranges .container .ranges-container .range h4 {
  color: var(--normal-text-color);
  text-align: center;
  font-size: 25px;
  margin: 25px 0px 5px;
}

.ranges .container .ranges-container .range p {
  text-align: center;
  font-size: 16px;
  color: var(--main-dtext-color);
  font-family: "outfit";
}

.ranges .container .ranges-container .range:first-child::before {
  content: "\f59a";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 50px;
  border-radius: 100%;
  top: -7px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--normal-text-color);
  background-color: var(--button-bg);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  outline: 3px #fff solid;
}

.ranges .container .ranges-container .range:nth-child(2):before {
  content: "\f118";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 50px;
  border-radius: 100%;
  top: -7px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--normal-text-color);
  background-color: var(--button-bg);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  outline: 3px #fff solid;
}

.ranges .container .ranges-container .range:nth-child(3):before {
  content: "\f11a";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 50px;
  border-radius: 100%;
  top: -7px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--normal-text-color);
  background-color: var(--button-bg);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  outline: 3px #fff solid;
}

.ranges .container .ranges-container .range:last-child:before {
  content: "\f119";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 50px;
  border-radius: 100%;
  top: -7px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--normal-text-color);
  background-color: var(--button-bg);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  outline: 3px #fff solid;
}

@media (max-width: 767px) {
  .ranges .container .ranges-container .range:not(.low) {
    margin-bottom: 75px;
  }
}
/* End Ranges */
/* Start Bundles */
.bundles {
  padding: 0 0 100px;
}

.bundles .container {
  position: relative;
}

.bundles .container::before {
  content: "\f06d";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  color: var(--main-color);
  font-weight: 900;
  font-size: 90px;
  opacity: 0.05;
  right: 0;
  top: 0;
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}

.bundles .container::after {
  content: "\f0e7";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  color: var(--main-color);
  font-weight: 900;
  font-size: 90px;
  opacity: 0.05;
  left: 0px;
  bottom: -85px;
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
}

.bundles .container h3 {
  font-size: 60px;
  text-align: center;
  margin: 0 0 50px 0;
  background-image: linear-gradient(var(--main-color), var(--button-bg));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bcontainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.high,
.extreme,
.mid,
.entry {
  position: relative;
}

.high > span,
.extreme > span,
.mid > span,
.entry > span {
  position: absolute;
  font-size: 20px;
  background-color: #fff;
  border-radius: 100%;
  padding: 1px;
  bottom: -21px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  border-top: var(--button-bg) 2px solid;
  border-right: var(--button-bg) 2px solid;
  border-left: var(--button-bg) 2px solid;
}

.high > span:hover,
.extreme > span:hover,
.mid > span:hover,
.entry > span:hover {
  background-color: var(--main-dtext-color);
  cursor: default;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.bbox {
  background: linear-gradient(var(--button-bg), var(--main-color));
  width: fit-content;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 0 0 12px;
  margin-bottom: 50px;
  box-shadow: 0px -10px 30px #bebebe;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  border: var(--button-bg) 3px solid;
}

.bbox:not(.not) {
  margin-right: 25px;
}

.bbox:hover {
  box-shadow: none;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.bbox img {
  width: 200px;
}

.bboxdetails {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.bboxdetails h4 {
  font-size: 25px;
  color: var(--normal-text-color);
  margin: 0 0 5px;
}

.bdetails {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.bdetails span {
  color: var(--normal-text-color);
  font-family: "outfit";
  font-size: 14px;
  opacity: 0.8;
}

.bdetails a {
  color: var(--main-dtext-color);
  font-family: "outfit";
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--button-bg);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.bdetails a:hover {
  background-color: rgb(4, 170, 109, 0.9);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
  .bundles .container::before {
    right: 25px;
    top: 25px;
  }
}
/* End Bundles */
/* Start Footer */
.footer {
  background-color: var(--main-color);
  padding: 100px 0;
}

.footer .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.footer .container .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer .container img {
  width: 200px;
}

.footer .container h3 {
  font-size: 50px;
  margin: 0;
  background-image: linear-gradient(var(--button-bg) 50%, #ddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .container span {
  font-size: 20px;
  margin: 0;
  color: var(--main-dtext-color);
  text-align: center;
}

.footer .links ul li a {
  color: var(--main-dtext-color);
  font-weight: 600;
  font-size: 20px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.footer .links ul li a:hover {
  color: var(--button-bg);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.footer .links ul li:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .bcontainer {
    flex-direction: column;
  }
  .footer .container .left {
    width: 100% !important;
    margin-bottom: 50px;
  }
}
/* End Footer */
